.pg-primary{
    background: #009688 !important;
}
.body{
    width: 100%;
    height: 93vh;
    background: #e2e2e2 !important;
}
.background{
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../img/home_banner.jpg");
    background-size: cover;
    color: white;
}
.text{
    text-align: center;
}
.my-card{
    padding: 20px;
    align-content: center;
    background: white;
}
span {
    color: red;
    font-style: italic;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 700px;
    height: 420px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

/*-------------------------------------------------------------------------*/
/*SIDE BAR*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
/*SIDE BAR END*/